.cpcontent{
    
    height: calc(50% - 60px);
    background-size: 90% 90%;
    width: 450px;
    height: 250px;
    background: rgb(137, 98, 251);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button{
    height: 30px;
    background: rgb(7, 69, 103);
    color: rgba(255, 255, 255, 0.837);
    cursor: pointer;
    border: none;
}

.button:hover{
    background: rgba(255, 255, 255, 0.016);
}